/* Fallout-themed CSS */
body {
	font-family: 'Courier New';
	background-color: #000;
	margin: 10px;
	padding: 20px;
}

Name, Weight, Value, Condition, IsEquipped, Effects, Damage, RateOfFire, DPS, DamageThreshold, RequiresPowerArmorTraining {
	display: block; /* Ensure each variable is on a new line */
	margin-bottom: 10px;
	color: #34bd32;
	font-weight: bold;
	text-shadow: 0 0 5px #00FF00;
}

	Name::before {
		content: "Name: ";
	}

	Weight::before {
		content: "Weight: ";
	}

	Value::before {
		content: "Value: ";
	}

	Condition::before {
		content: "Condition: ";
	}

	IsEquipped::before {
		content: "Is Equipped?: ";
	}

	Effects::before {
		content: "Effects: ";
	}

	Damage::before {
		content: "Damage: ";
	}

	RateOfFire::before {
		content: "Rate of Fire: ";
	}

	DPS::before {
		content: "DPS: ";
	}

	DamageThreshold::before{
		content: "Damage Threshold: "
	}

	RequiresPowerArmorTraining::before {
		content: "Requires Power Armor Training?: "
	}

/* Table styling for Effects */
Effects {
	display: table;
	width: 100%;
	border-collapse: collapse;
}

	Effects > Header {
		display: table-header-group;
		font-weight: bold;
		background-color: #002200;
	}

		Effects > Header > * {
			display: table-cell;
			border: 1px solid #00FF00;
			padding: 5px;
		}

	Effects > Effect {
		display: table-row;
	}

		Effects > Effect > * {
			display: table-cell;
			border: 1px solid #00FF00;
			padding: 5px;
		}