# Ignore files created for Serilization Tests
Serialized Files/Entities/*
!Serialized Files/Entities/.gitkeep

Serialized Files/Items/*
!Serialized Files/Items/.gitkeep

Serialized Files/Player/*
!Serialized Files/Player/.gitkeep